<div id="<%= dom_id service %>">
  <p>
    <strong>Title:</strong>
    <%= service.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= service.description %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= service.date %>
  </p>

  <p>
    <strong>Bike:</strong>
    <%= service.bike_id %>
  </p>

</div>
