<h1>Services</h1>

<%= link_to "New service", new_service_path, class: "create-btn" %>

<table>
  <thead>
    <tr>
      <th>bike id</th>
      <th>title</th>
      <th>mileage</th>
      <th>date</th>
      <th>details</th>
    </tr>
  </thead>
  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.bike_id %></td>
        <td><%= service.title %></td>
        <td><%= service.mileage %></td>
        <td><%= service.date %></td>
        <td><%= link_to "Details", service_path(service) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
