<h1>Parts</h1>

<%= link_to "New part", new_part_path, class: "create-btn" %>

<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>title</th>
      <th>description</th>
      <th>price</th>
      <th>date</th>
      <th>bike</th>
      <th>edit</th>
    </tr>
  </thead>
  <tbody>
    <% @parts.each do |part| %>
      <tr>
        <td><%= part.id %></td>
        <td><%= part.title %></td>
        <td><%= part.description %></td>
        <td><%= part.price %></td>
        <td><%= part.date %></td>
        <td><%= part.bike_id %></td>
        <th><%= link_to 'Edit', edit_part_path(part) %></th>
      </tr>
    <% end %>
  </tbody>
</table>
