<h1>Team</h1>

<% if current_user.teamleader? && current_user.team_id.nil? %>
  <%= link_to "New team", new_manage_team_path, class: 'create-btn' %>
<% end %>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.id %></td>
        <td><%= team.name %></td>
        <td>
          <%= link_to "Details", manage_team_path(team) %>
          <% if current_user.admin? || (current_user.teamleader? && team.id == current_user.team_id) %>
            <%= link_to "Edit", edit_manage_team_path(team) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
