<h1>Teams</h1>

<div id="teams">
  <table id="teams-table">
    <thead>
      <tr>ID</tr>
      <tr>Name</tr>
      <tr>Action</tr>
    </thead>
    <tbody>
      <% @teams.each do |team| %>
        <tr>
          <td><%= team.id %></td>
          <td><%= team.name %></td>
          <td>
            <%= link_to "Details", manage_team_path(team) %>
            <%= link_to "Edit", edit_manage_team_path(team) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New team", new_manage_team_path %>