<h1>Team: <%= @team.name %></h1>

<h2>Members</h2>
  <% @members.each do |member| %>
    <div><%= member.name %></div>
  <% end %>

  <br>
  <br>

<% if current_user.teamleader? && @team.id == current_user.team_id %>
  <h3>Assign users to your team</h3>

  <%= form_with url: add_users_to_team_manage_team_path(@team), method: :patch do %>
    <div>
      <!-- Corrected the collection_select helper -->
      <%= collection_select "user", "user_ids", @users_without_team, :id, :name, {}, { multiple: true } %>
    </div>
    <%= submit_tag "Add Selected Users" %>
  <% end %>
<% end %>

<br>
<br>

<%= link_to "Back to teams", manage_teams_path %>
