    <h1>Welcome to Motorify <%= current_user.name %></h1>
    <h2>Your team: <%= @team_name %></h2>
    <h2>Shortcuts</h2>
    <div class="shortcut-container">
        <%= link_to "Create bike", new_bike_path, class: "shortcut" %>
        <%= link_to "Create service", new_service_path, class: "shortcut" %>
        <%= link_to "Create part", new_part_path, class: "shortcut" %>
    </div>