<div id="<%= dom_id bike %>">
  <p>
    <strong>Manufacturer:</strong>
    <%= bike.manufacturer %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= bike.model %>
  </p>

  <p>
    <strong>Horsepower:</strong>
    <%= bike.horsepower %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= bike.weight %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= bike.year %>
  </p>

  <p>
    <strong>Mileage:</strong>
    <%= bike.mileage %>
  </p>

</div>
