<h1>Edit User: <%= @user.name %></h1>

<%= form_with model: @user, url: admin_user_path(@user), method: :patch do |f| %>
  <div>
    <%= f.label :email, style: "display: block" %>
    <%= f.text_field :email %>
  </div>

  <div>
    <%= f.label :name, style: "display: block" %>
    <%= f.text_field :name %>
  </div>
  
  <div>
    <%= f.label :team_id, "Team" %><br>
    <%= f.collection_select :team_id, @teams, :id, :name, include_blank: true %>
  </div>

  <div>
    <%= f.label :role %><br>
    <%= f.select :role, ['admin', 'teamleader', 'member'], include_blank: true %>
  </div>
  
  <%= link_to 'Delete', admin_user_path(@user), method: :delete %>
  <%= link_to 'Cancel', admin_users_path %>
  <%= f.submit "Update", class: 'btn btn-primary' %>
<% end %>
