<h1>Team: <%= @team.name %></h1>

<h2>Members</h2>
<table>
<thead>
<tr>
<th>id</th>
<th>name</th>
<th>email</th>
</tr>
</thead>
<tbody>
<% @members.each do |member| %>
  <tr>
  <td><%= member.id %></td>
  <td><%= member.name %></td>
  <td><%= member.email %></td>
  </tr>
  <% end %>
  </tbody>
  </table>

<div>
  <%= link_to "Edit this team", edit_admin_team_path(@team) %> |
  <%= link_to "Back to teams", admin_teams_path %>
  <%= button_to "Destroy this team", @team, method: :delete %>
</div>
