<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Motorify" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div class="flash">
        <%= msg %>
      </div>
    <% end %>

    <% if current_user %>
      <div id="navbar-container">
        <div id="navbar">
          <%= link_to 'Motorify', root_path, id:'navbar-title' %>
          <div id="navbar-items">
            <%= link_to 'Bikes', bikes_path, method: :get %>
            <%= link_to 'Services', services_path, method: :get %>
            <%= link_to 'Parts', parts_path, method: :get %>
            <% if is_manager %>
              <%= link_to 'Teams', manage_teams_path, method: :get %>
            <% end %>
            <% if is_admin %>
              <%= link_to 'Teams', admin_teams_path, method: :get %>
              <% end %>
            <% if is_admin %>
              <%= link_to 'Activity Feed', admin_activities_path, method: :get %>
              <%= link_to 'Admin Panel', admin_users_path, method: :get %>
            <% end %>
            <%= link_to 'Profile', profile_path, method: :get %>
            <%= link_to 'Logout', logout_path, method: :get %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
